<a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=667547175169.708236903284"><img
        src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

<!-- <a href="https://slack.com/oauth/authorize?scope=commands&client_id=667547175169.708236903284">
    <img alt=""Add to Slack"" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" 
    srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x,
     https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
</a> -->

<!-- <a  href="https://slack.com/oauth/authorize?scope=commands&client_id=667547175169.708236903284">
<button class="button" mat-raised-button color="primary">
    <i class="fab fa-slack-hash" style="font-size: 3rem;"></i>
</button>
</a> -->


